.bg{
    background-image: linear-gradient(to bottom,#0F2027,#203A43,#2c5364); 
    color: rgba(250, 235, 215, 0.84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: top 0.5s;
    scroll-behavior: smooth;
}


.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0f2027a8;
    padding: 5px;
}

.a1{
    text-decoration: none;
    color: antiquewhite;
}

.a1:hover{
    color: #476f95;
}

.ti{
    float: left;
    padding-left: 3%;
    margin: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ul1 {
    list-style-type:none;
    margin: 9;
    padding-top: 7px;
    overflow:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:transparent;
}

.li1 {
    float:right;
    padding-right: 30px;
}

li a{
    display: block;
    color: antiquewhite;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

li a:hover{
    display: block;
    color: #476f95;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

h2{
    padding-bottom: 10px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(252, 240, 224, 0.786);
    
    padding-left: 5%;
}

.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5%;
    padding-top: 5px ;
    font-size: medium;
}



.flex{
    display:flex;
    gap: 220px;
    padding-left: 20%;
    padding-top: 50px;
}


.c1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 150px;

}

.d1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    font-weight: 300;
}

.pad{
    padding-top: 150px;
    padding-bottom: 100px;
}

.im{
    border-radius: 10px;
    
}

.block{
    display: block;
    padding-top: 130px;
    padding-bottom: 100px;
}

.flex1{
    display: flex;
    gap: 10%;
    padding-left: 5%;
}
    

.im2{
    border-radius: 20px;
    
}

.pad1{
    padding-top: 180px;
    padding-right: 5%;
    padding-bottom: 100px;
}

.pad2{
    padding-top: 80px;
    padding-left: 3%;
    padding-bottom: 100px;
}

.pad3{
    padding-top: 80px;
    padding-left: 3%;
    padding-bottom: 70px;
}

.pad4{
    padding-top: 80px;
    padding-bottom: 70px;
    font-size: larger;
}

.flex2{
    display: flex;
    gap: 70px;
    padding-left: 5%;
    padding-top: 3%;
}

.card1{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 10%;
    width: 26%;  
    gap: 500px;
    color: rgba(250, 235, 215, 0.83);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43bb,#2c536475), url("./program.jpg");
    background-color: rgba(255, 255, 255, 0.348);
    padding-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card11{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 10%;
    width: 26%;  
    gap: 500px;
    color: rgba(250, 235, 215, 0.83);
    background-image: linear-gradient(
        to bottom,
        #0f2027c3,#203a43ec,#2c5364ed), url("./soft.jpg");
    background-color: rgba(255, 255, 255, 0.348);
    padding-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card12{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 10%;
    width: 26%;  
    gap: 500px;
    color: rgba(250, 235, 215, 0.83);
    background-image: linear-gradient(
        to bottom,
        #0f2027c3,#203a43ae,#2c5364c7), url("./off.jpg");
    background-color: rgba(255, 255, 255, 0.348);
    padding-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex3{
    display: flex;
    gap: 100px;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.card2{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 5%;
    width: 25%; 
    height: 100px;
    gap: 500px;
    color: rgb(250, 235, 215);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43cd,#2c536475), url("./cycle1.jpg");
    background-color: rgba(255, 255, 255, 0.056);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.card3{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 5%;
    width: 25%; 
    height: 100px;
    gap: 500px;
    color: rgb(250, 235, 215);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43cd,#2c536475), url("./run.jpg");
    background-color: rgba(255, 255, 255, 0.056);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.card4{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 5%;
    width: 25%; 
    height: 100px;
    gap: 500px;
    color: rgb(250, 235, 215);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43cd,#2c536475), url("./badminton.jpg");
    background-color: rgba(255, 255, 255, 0.056);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.card5{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 5%;
    width: 25%; 
    height: 100px;
    gap: 500px;
    color: rgb(250, 235, 215);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43cd,#2c536475), url("./read.jpg");
    background-color: rgba(255, 255, 255, 0.056);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.card6{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 5%;
    width: 25%; 
    height: 100px;
    gap: 500px;
    color: rgb(250, 235, 215);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43cd,#2c536475), url("./scifi1.jpg");
    background-color: rgba(255, 255, 255, 0.056);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.card7{
    box-shadow: 0 5px 9px 10px #0f202785;
    border-radius: 5%;
    width: 25%; 
    height: 100px;
    gap: 500px;
    color: rgb(250, 235, 215);
    background-image: linear-gradient(
        to bottom,
        #0f202780,#203a43cd,#2c536475), url("./swim.jpg");
    background-color: rgba(255, 255, 255, 0.056);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.con{
    padding-left: 22%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    font-weight: 400;

}

.a{
    color: antiquewhite;
    text-decoration:none;
    text-emphasis-color: #0f202780;
}

.flex4{
    display: flex;
    gap: 90px;
    padding-top: 4%;
    padding-left: 28%;
    padding-bottom: 200px;
}

.lin{
    border-radius: 50%;
}

.wa{
    border-radius: 50%;
}

.x{
    border-radius: 50%
}

.snap{
    border-radius: 50%;
}